body {
  color: #efe1e3;
  background-color: rgb(14 20 24);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../src/palm-trees-pink.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 130px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.5;
  margin: 30px 0;
  text-shadow: 1px 1px 4px rgb(225 217 225);
}

header h2 {
  font-weight: 400;
  font-size: 46px;
  line-height: 1.5;
}
header h3 {
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  background-color: #efe1e3;
  padding: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  color: rgb(58, 58, 145);
  border-radius: 3px;
}
main {
  padding: 20px;
}
main img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 100%;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
}
main p {
  font-size: 13px;
  line-height: 1.3;
  opacity: 0.7;
}
main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px !important;
}
section {
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 50px !important;
}
footer {
  margin-top: 20px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../src/hollywood-sign-behind.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 10px;
}
footer p {
  margin: 10px;
}
footer ul {
  margin: 10px;
  padding-left: 10px;
}
footer li {
  font-size: 16px;
  line-height: 1.5;
  list-style: none;
}
footer a {
  color: #efe1e3;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 45px;
  }
  header h2 {
    font-size: 25px;
  }
  header h3 {
    font-size: 15px;
  }
  footer h4 {
    font-size: 14px;
    font-weight: 500;
  }
  footer p {
    font-size: 12px;
  }
  footer li {
    font-size: 14px;
  }
}
